.GoogleMaps
{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
}
.GoogleMaps > .Inner
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.GoogleMaps .SearchBox
{
    width: 60%;
    margin-bottom: 20px;
}
.GoogleMaps .SearchBox .AddButton
{
    position: absolute;
    display: block;
    top: 2px;
    right: 2px;
    width: 35px;
    height: 35px;
    border: none;
    background: #FFF url("../../images/symbol-add.png" ) center center no-repeat;
    border: 1px #EDE dashed;
    display: none;
}
.GoogleMaps .SearchBox .AddButton:hover
{
    background: #69D2E7 url("../../images/symbol-add-white.png" ) center center no-repeat;
    border: 1px #69D2E7 solid;
}

.GoogleMapsExtendedContainer .MultiSelector input.Filter,
.GoogleMapsExtendedContainer .MultiSelector .SelectedOptions > .Symbol,
.GoogleMapsExtendedContainer .MultiSelector .Options
{
    display: none;
}