.MultiSelector > .SelectedOptions
{
	background: #FFF;
}
.MultiSelector > .SelectedOptions > .Filter
{
	margin: 5px;
}
.MultiSelector > .SelectedOptions > .Symbol
{
	background: transparent url('../../images/symbol-arrow-down.png' ) center center no-repeat;
	width: 11px;
	height: 6px;
	overflow: hidden;
	display: block;
	position: absolute;
	visibility: visible;
	top: 20px;
	right: 15px;
}
.MultiSelector > .SelectedOptions .Model,
.MultiSelector > .Options .Model
{
	display: inline-block;
	width: auto;
	border: 0;
}
.MultiSelector > .SelectedOptions .Model > .RemoveButton,
.MultiSelector > .Options .Model > .AddButton
{
	padding: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
}
.MultiSelector > .SelectedOptions .Model > .RemoveButton > .Label,
.MultiSelector > .Options .Model > .AddButton > .Label
{
	display: none;
}
.MultiSelector > .SelectedOptions .Model:hover > .Label
{
	color: #e04b44;
}
.MultiSelector > .Options .Model:hover > .Label
{
	color: #69D2E7;
}


.MultiSelector > .SelectedOptions .Filter
{
	display: inline-block;
	width: 200px;
}

.MultiSelector > .Options
{
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	border: 0;
	border-top: 1px solid #d8d9d5;
}