.Selector,
.BBSelector
{
	/*width: auto;*/
	position: relative;
}
.Selector > .Button,
.BBSelector > .Button
{
	padding-right: 30px;
}
.Selector > .Button > .Symbol,
.BBSelector > .Button > .Symbol
{
	background: transparent url( '../../images/symbol-arrow-down.png' ) center center no-repeat;
	width: 11px;
	height: 6px;
	overflow: hidden;
	display: block;
	position: absolute;
	visibility: visible;
	top: 20px;
	right: 15px;
}
.Selector.Expanded .Label,
.BBSelector.Expanded .Label
{
	background: #f6f6f6;
}
.Selector .Model,
.BBSelector > .Options
{
	background: #FFFFFF;
	border-top: 1px solid #d8d9d5;
	border-left: 1px solid #d8d9d5;
	border-right: 1px solid #d8d9d5;

	padding: 0;
	position: absolute;
	right: 0px;
	top: 35px;
	z-index: 1;
}
.Selector.Expanded .Model,
.BBSelector.Expanded > .Options
{
	visibility: visible;
	display: block;
	-webkit-animation: fadeInDown .4s;
	-moz-animation: fadeInDown .4s;
	-ms-animation: fadeInDown .4s;
	-o-animation: fadeInDown .4s;
	animation: fadeInDown .4s;
}
.Selector.Collapsed .Model,
.BBSelector > .Options
{
	visibility: hidden;
	display: none;
}

.Selector .Model > .Symbol,
.BBSelector > .Options > .Symbol
{
	width: 17px;
	height: 9px;
	display: block;
	overflow: hidden;
	background: transparent url( "../../images/container-arrow.png" );
	position: absolute;
	top: -9px;
	right: 12px;
}
.Selector .Model .ValueObject,
.Selector .Model .VOProxy .Name,
.BBSelector > .Options > .Model
{
	white-space: nowrap;
	text-align: left;
	display: block;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #d8d9d5;
	padding: 17px 30px;
}
.Selector .VOProxy .Name
{
	font-family: "Bold";
}
.Selector .ValueObject.Deselected,
.BBSelector > .Options > .Model
{
	background: 0;
	color: #000;
}
.Selector .ValueObject.Deselected:hover
{
}
.Selector .ValueObject.Selected,
.BBSelector > .Options > .Model[data-selected='true']
{
	background: #69D2E7;
	color: #FFF;
}