.TagSelector > .Button
{
	border-radius: 0;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.TagSelector > .Button:hover
{
	background: #FFF;
}
.TagSelector > .Button > .Symbol
{
	visibility: hidden;
	display: none;
}
.TagSelector > .Button > span.Label,
.TagSelector > .Button > .Tags,
.TagSelector input,
.TagSelector .Button.ValueObject
{
	display: inline-block;
	float: left;
	box-shadow: none!important;
	border: 0;
	margin: 0;
}
.TagSelector input,
.TagSelector .Button.ValueObject
{
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}
.TagSelector .Button.ValueObject.Selected
{
	display: none;
}
.TagSelector .Tags .Button
{
	background: #69D2E7;
	color: #FFF;
}
.TagSelector .Tags .Button:hover
{
	background: #ebebeb;
	color: #e04b44;
}
.TagSelector > .Button > .Label
{
	padding: 15px;
	background: 0;
}
.TagSelector > .Button > .Tags
{
	padding: 1px;
}
/*.TagSelector > .Button .filterButton
{
	background: 0;
	border: 0;
}*/

.TagSelector .Model
{
	width: 100%;
}
.TagSelector .Button .Symbol
{
	display: none;
}

.TagSelector .Model
{
	border: 0;
	border-top: 1px solid #ebebeb;
	background: 0;
}

.TagSelector > .Model > .Proxy
{
	background: 0;
	display: inline-block;
	float: left;
	width: 100%;
	background: #F9F9F9;
	text-align: center;
	margin: 0;
}