<% 
var _this = this;
var selectedInt = 0;
%>
<div class="SelectedOptions">
	<div class="Symbol"></div>
	<%
	this.model.get("options").each(function(model)
	{
		if(model.get("selected"))
		{
			selectedInt++;
		%>
			<div class="Model Button" data-cid="<%= model.cid %>" data-selected="true">
				<input type="hidden" name="<%= _this.model.get("name") %>[]" value="<%= model.get("value") %>" />
				<div class="Symbol"></div>
				<span class="Label"><%= model.get('name') %></span> 
			</div>
		<%
		}
	});
	if(!selectedInt)
	{
	%>
		<input type="hidden" name="<%= _this.model.get("name") %>" value="false" />
	<%
	}
	%>
	<input type="text" autocomplete="off" class="Filter" placeholder="<%= _this.model.get("label") %>">
</div>
<div class="Options">
	<div class="Symbol"></div>
	<% 
		this.model.get("options").each(function(model)
		{
			if(!model.get("selected"))
			{
	%>
				<div class="Model Button" data-cid="<%= model.cid %>">
					<div class="Symbol"></div>
					<span class="Label"><%= model.get('name') %></span> 
				</div>
	<%
			}
		});
	%>
</div>