<li class="list-group-item reproducible-form-group-header">
    <h3>
        <%= label %>
        <small class="help-block">
            <%= description %>
        </small>
    </h3>
</li>

<li class="list-group-item reproducible-form-group-top-nav" style="text-align: center">
    <% if(addOption) { %>
    <button class="btn btn-primary btn-add">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <% } %>
</li>

<li class="list-group-item reproducible-form-group-footer" style="text-align: center">
    <% if(addOption) { %>
    <button class="btn btn-primary btn-add">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <% } %>
</li>