<% 
var _this = this;
%>
<textarea class="HiddenElement" name="<%= _this.model.get("name") %>"><%= model.get("value") %></textarea>
<div class="Button">
	<div class="Symbol"></div>
	<span class="Label"><%= this.model.get('label') %></span>
</div>
<div class="Options">
	<div class="Symbol"></div>
	<% 
		this.model.get("options").each(function(model)
		{
	%>
		<div class="Model Button" data-cid="<%= model.cid %>" data-selected="<%= _this.model.get("value") == model.get("value") %>">
			<div class="Symbol"></div>
			<span class="Label"><%= model.get('name') %></span> 
		</div>
	<%
		});
	%>
</div>